{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block content %}


<div class="flexible_filter">
    <div class="container">
        <h5>'{{ checkin }} ~ {{checkout}}' 검색 결과입니다.</h5>

    </div>
    <div class="flexible">
        <br>
        <br>
        <div class="container">
            {% for product in posts %}
{% if product.stock != 0 %}
            <div class="card" style="width:30%; display:inline-block;">
                <div class="card-header">
                    <div id="product{{ product.id }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in product.image_set.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                <img src="{{ image.file.url }}" class="card-img-top"
                                     alt="{{ image.file.image }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#product_{{ product.id }}"
                           role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#product_{{ product.id }}"
                           role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{product.p_name}}</h5>
                        <h5 class="card-user">작성자 : {{product.writer}}</h5>
                        <p class="card-text">{{product.address1}}  {{product.address2}}
                        </p>
                        <p class="card-text">{{product.price}}원</p>
                        <p class="card-text" id="available"> 이용 가능기간 : {{product.checkin|date:'Y-m-d'}} ~ {{product.checkout|date:'Y-m-d'}}</p>
                        <p class="card-text">잔여 : {{product.stock}}개</p>
                        <a href="{{product.get_absolute_url}}" class="btn btn-primary btn-block">View Detail</a>
                    </div>
                </div>
            </div>

             {% endif %}
              {% empty %}
            <div>
                <p class="search_text">검색결과가 없습니다.</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="stays">
        <div class="container">
            <div class="left">
                <div class="pagination">
                    <div class="pages">
<!--                        {{posts}}-->


                        {% if posts.has_previous %}
                        <span
                                class="abutton" OnClick="location.href='?q={{query}}&page=1'">맨 앞으로
                        </span>
                        <span
                                class="abutton" OnClick="location.href='?q={{query}}&page={{posts.previous_page_number}}'">이전
                        </span>
                        {% endif %}

                        </span>
                        {% for page in posts.paginator.page_range %}
                        {% if page >= posts.number|add:-2 and page <= posts.number|add:2 %}
                        <span class="{% if page == posts.number %}current{% endif %}">
                        <a onclick="location.href='?q={{query}}&page={{ page }}'">{{ page}}</a>
                    </span>
                        {% elif page >= posts.number|add:-3 and page <= posts.number|add:3 %}
                        ..
                        {% endif %}
                        {% endfor %}

                        {% if posts.has_next %}
                        <span
                                class="abutton" OnClick="location.href='?q={{query}}&page={{posts.next_page_number}}'">다음
                        </span>
                        <span
                                class="abutton" OnClick="location.href='?q={{query}}&page={{posts.paginator.num_pages}}'">맨 뒤로
                        </span>

                        {% endif %}
                    </div>


                </div>

            </div>
            <div class="right"><img src="img/fake_map.jpg" alt=""></div>
        </div>
    </div>
</div>

{% endblock %}