{% extends 'login/base.html' %}
{% load static %}
{% block body %}
<div id="wrap" class="">
    <div id="pos_scroll"></div>
    <div id="container">
        <div id="header">
            <div id="main">
                <div id="content">
                    <div id="qnb" class="quick-navigation">
                    </div>
                    <div class="section_login">
                        <h3 class="tit_login">로그인</h3>
                        <div class="write_form">
                            <div class="write_view login_view">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="text" name="username" size="20" tabindex="1" value=""
                                           placeholder="아이디를 입력해주세요">
                                    <input type="password" name="password" size="20" tabindex="2" value=""
                                           placeholder="비밀번호를 입력해주세요">
                                    <div class="checkbox_save">
                                        <div class="login_search">
                                            <a class="link"
                                               href="#none">
                                                아이디 찾기
                                            </a>
                                            <span class="bar"></span>
                                            <a class="link"
                                               href="#none">
                                                비밀번호 찾기
                                            </a>
                                        </div>
                                    </div>
                                    <button class="btn_type1" type="submit">
                                        <span class="txt_type">로그인</span>
                                    </button>
                                </form>
                                <a class="btn_type2 btn_member"
                                   href="/login/register">
                                    <span class="txt_type">회원가입</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    {% endblock %}