{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% load humanize%}
{% block content %}

<h1>{{ user.u_nickname }} 님의 주문 내역입니다.</h1>

<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
            <tr>
                <th scope="col">판매자</th>
                <th scope="col">상품명</th>
                <th scope="col">구매할때입력한 firts+last</th>
                <th scope="col">구매닉네임</th>
                <th scope="col">email</th>
                <th scope="col">주문날짜</th>
            </tr>
            </thead>
            <tbody class="text-dark">
            {% for order in order_list %}

            {% if order.paid == 1%}
<!--            {% with product=item.product %}-->
            <tr>

                <th>{{order.product.writer.u_nickname}}</th>


                <th>{{order.product}}</th>
                <th>{{order.first_name}}{{order.last_name}}</th>
                <th>{{order.username.u_nickname}}</th>
                <th>{{order.email}}</th>
                <th>{{order.updated|date:'Y-m-d H:i'}}</th>
            </tr>
<!--            {% endwith %}-->
            {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}