{% extends 'base.html' %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<div class="container my-3" xmlns="http://www.w3.org/1999/html">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <h2 class="border-bottom py-2">{{ product.subject }}</h2>

    <div class="container">
        <div class="row">
            <div class="col-4">
                {% for image in product.image_set.all %}
                <img src="{{image.file.url}}" width="100%" alt="Product Image">
                {% endfor %}
            </div>
            <div class="col">
                <h1 class="btn btn-outline-info btn-block btn-lg">'{{product.category}}'</h1>
                <h1 class="display-6">{{product.p_name}}</h1>
                <h3 class="display-6">Host : {{product.writer}}</h3>
                <h5><span class="badge badge-secondary">&nbsp가&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp격&nbsp</span> &#8361;{{product.price}}</h5>
                <h5><span class="badge badge-secondary">숙소형태</span> {{product.type}}</h5>
                <h5><span class="badge badge-secondary">&nbsp위&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp치&nbsp</span> {{product.address1}}{{product.address2}}</h5>
                <h5><span class="badge badge-secondary">보유수량</span> {{product.stock}}</h5>
                <h5><span class="badge badge-secondary">침대유형</span> {{product.size}}</h5>
                <h5><span class="badge badge-secondary">숙소소개</span> {{product.content}}</h5>
                <h5><span class="badge badge-secondary">설명<br></span>{{product.addr|linebreaks}}</h5>
                <h5><span class="badge badge-secondary">숙소형태</span> {{product.type}}</h5>
                <form action="{% url 'cart:product_add' product.id %}" method="post">
                    {{add_to_cart}}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-sm" value="장바구니">
                </form>
                <form action="{% url 'shop:delete_product' product.id %}" method="get">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-sm float-right" value="삭 제"></form>
                <form action="{% url 'shop:register_product' product.id %}" method="get">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-sm float-right" value="수 정"></form>

            </div>

            <div data-viewid="findway" data-root="" class="cont_findway">
                <center><span id="em4" class="tit_subject btn btn-outline-primary btn-block">찾아가는 길</span></center>
                <div class="findway_map">
                    <section class="module map only-desktop">

                        <div class="map-container" tabindex="0"
                             style="position: relative; overflow: hidden; background: url(&quot;https://ssl.pstatic.net/static/maps/mantle/1x/pattern_1.png&quot;) 0px 0px repeat transparent;">
                            <div id="map" style="width:800px;height:400px;"></div>
                            <div id="product_address1" data-title="{{ product.p_name }}" data-address="{{ product.address1 }}" style="display:none">{{ product.address1 }}</div>

                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e69641dcc68fbf07541f339e0ba36f35&libraries=services" ></script>
                            <script>

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
if (navigator.geolocation) {

    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {

        var lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도

        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
            message = '<div style="padding:8px;">현 위치</div>'; // 인포윈도우에 표시될 내용입니다

        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition, message);

      });

} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
        message = 'geolocation을 사용할수 없어요..'

    displayMarker(locPosition, message);
}

// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function displayMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: locPosition
    });

    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });

    // 인포윈도우를 마커위에 표시합니다
    infowindow.open(map, marker);

    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);
}
                        </script>
                        </div>
                    </section><br><br><br><br>
                    <h5>{{ product.inquiry_set.count }}개의 문의가 있습니다.</h5>
                    <div>
                        <ul>
                            {% for inquiry in product.inquiry_set.all %}
                            <li><div class="btn btn-info ">작성자 : {{ inquiry.user }}</div><br>
                                <h1 class="display-6 btn btn-outline-info btn-lg ">{{ inquiry.content }}</h1>
                                <form action="{% url 'shop:inquiry_delete' inquiry.id %}" method ="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                    <form action="{% url 'shop:inquiry_create' product.id %}" method="post" class="my-3">
                        {% csrf_token %}
                        <div class="form-group">
                            <center><div class="btn btn-info btn-block ">문의</div></center>
                            <textarea name="content" id="content" class="form-control btn btn-outline-primary" rows="5"></textarea>
                        </div>

                        <input type="submit" value="문의 하기" class="btn btn-primary">

                    </form>
                </div><br><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
