{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}

<h1>{{ user.u_nickname }} 님 환영합니다</h1>
    {% if request.user == user %}

<button class="btn btn-secondary" onclick="location.href=http://127.0.0.1:8000/users/2/modify/"> 회원정보 수정</button>

        <a href="{% url 'users:user_modify' user.pk %}">회원 수정</a>
        <form action="" method="POST">
            {% csrf_token %}
            <br>
            <button class="btn btn-secondary">회원 탈퇴</button>
        </form>

    {% endif %}

<hr>
<h3>내 주문 정보</h3>
<h3>내 숙소 정보</h3>

{% endblock %}
